@use '../custom' as *;

.display-2 {
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;

    &--intro {
        display: inline-block;
        font-weight: 700;
        color: $white;
        font-family: 'Poppins', sans-serif;
    }

    &--description {
        font-size: 1rem;
        display: block;
        color: $white;
        margin-top: 1.2rem;

/*         @include media-breakpoint-up(lg) {
            font-size: 1.5rem;
            display: inline-block;
        } */
    }
}


// HEADING LINE
.heading-line::before {
    content: "";
    width: 10rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: $primary;
}

.heading-line::after {
    content: "";
    width: 2rem;
    padding-top: 0.5rem;
    height: 0.2rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: $primary;
}

.display-3 {
    font-family: 'Poppins', sans-serif;

    &--intro {
        display: inline-block;
        font-weight: 700;
        color: $black;
        font-family: 'Poppins', sans-serif;
    }

    &--description {
        font-size: 1rem;
        display: block;
        color: $black;
        margin-top: 1.2rem;
    }
}

.border-right {
    border-right: 0.1rem solid $gray-300;
    height: 100%;
}